# ===========
# = OS      =
# ===========
.DS_Store

# ===========
# = IDE     =
# ===========
.idea
*.iml

# ===========
# = NPM     =
# ===========
package-lock.json
node_modules

# ===========
# = Secrets =
# ===========
.secret

# ===========
# = Built   =
# ===========
build
